
AppOwnsData/AppOwnsDataClient/obj/Release/net5.0/AppOwnsDataClient.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataClient/obj/Release/net5.0/AppOwnsDataClient.assets.cache
AppOwnsData/AppOwnsDataAdmin/obj/Release/net5.0/AppOwnsDataAdmin.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataAdmin/obj/Debug/net5.0/AppOwnsDataAdmin.csprojAssemblyReference.cache
AppOwnsData/.vs/slnx.sqlite
AppOwnsData/.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/csharp_projecten/v16/.suo
AppOwnsData/AppOwnsDataClient/obj/Release/net5.0/AppOwnsDataClient.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataClient/obj/Release/net5.0/AppOwnsDataClient.assets.cache
AppOwnsData/AppOwnsDataAdmin/obj/Release/net5.0/AppOwnsDataAdmin.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataAdmin/obj/Debug/net5.0/AppOwnsDataAdmin.csprojAssemblyReference.cache
AppOwnsData/.vs/slnx.sqlite
AppOwnsData/AppOwnsDataWebApi/obj/Release/net5.0/AppOwnsDataWebApi.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataWebApi/obj/Debug/net5.0/AppOwnsDataWebApi.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataShared/obj/Release/net5.0/AppOwnsDataShared.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataClient/obj/Release/net5.0/AppOwnsDataClient.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataClient/obj/Release/net5.0/AppOwnsDataClient.assets.cache
AppOwnsData/AppOwnsDataAdmin/obj/Release/net5.0/AppOwnsDataAdmin.csprojAssemblyReference.cache
AppOwnsData/AppOwnsDataAdmin/obj/Debug/net5.0/AppOwnsDataAdmin.csprojAssemblyReference.cache
AppOwnsData/.vs/slnx.sqlite
