@page "/"
@attribute [Authorize]
@inject IAccountService AccountService

<div class="p-4">
    <div class="container">
        <h1>Hi @AccountService.User.FirstName @AccountService.User.LastName!</h1>
        <p>Je bent succesvol ingelogd op je eigen pagina.</p>
        <p><NavLink href="users">Beheren gebruikers</NavLink></p>
    </div>
</div>