@page "/Demopagina"

<h1>Landingspagina demo's</h1>
 
@* @code {
  private int currentCount = 42;
  private void IncrementCounter()
  {
    currentCount++;
  }
    private void ResetToZero()
  {
    currentCount = 0;
  }
} *@