@using System.Security.Principal

@if (User.Identity.IsAuthenticated) {
  <div class="jumbotron">
    <h1>Welkom @User.FindFirst("name").Value</h1>
    <p>Je bent succesvol ingelogd! Je kan nu nieuwe Azure AD identiteiten aanmaken en Power BI klanten.</p>
  </div>
}
else {
  <div class="jumbotron">

    <h1>Welkom bij de Power BI beheerdersapplicatie.</h1>

    <p>Deze applicatie is gebouwd als demo om te laten zien hoe we meerdere klanten met hetzelfde dashboard kunnen beheren. 
      Daarnaast een uitgelegen kans om Power BI embedding te verkennen voor IT-advies. Deze applicatie zal demonstreren dashboards te embedden voor verschillende klanten
      waarbij Power BI workspaces worden aangemaakt. Beheerders kunnen deze workspaces geautomatiseerd aanmaken en toestemmingen geven aan gebruikers.</p>
    
    <p>Klik op <strong>Inloggen</strong> rechtsbovenin om te starten.</p>

  </div>
}