@model AppOwnsDataAdmin.Controllers.HomeController.OnboardTenantModel

<h2 id="page-title">Onboarden Nieuwe klant</h2>

<form id="new-tenant" method="post" class="form-horizontal">
  <fieldset>
    <div class="form-group row">
      <label for="TenantName" class="col-sm-3 col-form-label">Klantnaam</label>
      <div class="col-sm-9">
        <input class="form-control" id="TenantName" name="TenantName" placeholder="Vul een klantnaam in" value="@Model.TenantName">
      </div>
    </div>
    <div class="form-group row">
      <label for="DatabaseServerName" class="col-sm-3 col-form-label">Database Server Naam</label>
      <div class="col-sm-9">
        <input class="form-control" id="DatabaseServer" name="DatabaseServer" placeholder="Vul een servernaam in" value="devcamp.database.windows.net" />
      </div>
    </div>
    <div class="form-group row">
      <label for="DatabaseName" class="col-sm-3 col-form-label">Database Naam</label>
      <div class="col-sm-9">
        <select class="form-control" id="DatabaseName" name="DatabaseName" asp-items="Model.DatabaseOptions">
          <option selected="selected" value="@Model.SuggestedDatabase">@Model.SuggestedDatabase</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="SqlUserName" class="col-sm-3 col-form-label">SQL Server Gebruikersnaam</label>
      <div class="col-sm-9">
        <input class="form-control" id="DatabaseUserName" name="DatabaseUserName" placeholder="Vul een Azure SQL gebruikersnaam in" value="CptStudent" />
      </div>
    </div>
    <div class="form-group row">
        <label for="SqlUserPassword" class="col-sm-3 col-form-label">SQL Server gebruikerswachtwoord</label>
      <div class="col-sm-9">
        <input class="form-control" id="DatabaseUserPassword" name="DatabaseUserPassword" placeholder="Vul een Azure SQL gebruikerswachtwoord in" value="pass@word1" type="password" />
      </div>
    </div>
    <div class="form-group row button-row">
      <button id="create-tenant-button" type="submit" class="btn btn-primary">
        <i class="fa fa-user-plus"></i>
        Voeg nieuwe klant toe
      </button>
    </div>
  </fieldset>
</form>

<div class="loading" style="display:none;">
  <div class="loading-image">
    <img src="~/images/loading_pbi.gif" />
  </div>
</div>

@section Scripts {
  <script type="text/javascript">
    $(function () {

      $("#new-tenant").submit(function () {
        $("#new-tenant").hide();
        $("#page-title").text("Toevoegen nieuwe klant...");
        $(".loading").show(100);
      });

    });
  </script>
}