@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
            <NavLink href="users" class="nav-item nav-link">Gebruikers</NavLink>
                <!-- Dropdown werkt nog niet. wel zichtbaar-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                    Demo's
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="Demopagina">Link 1</a>
                    </div>
                </li>
            @* <NavLink href="Demopagina" class="nav-item nav-link">Demo's</NavLink> *@


            <NavLink href="account/logout" class="nav-item nav-link">Uitloggen</NavLink>
        </ul>
    </nav>
}

<div class="app-container @(LoggedIn ? "bg-light" : "")">
    <Alert />
    @Body
</div>

@code {
    public bool LoggedIn 
    {
        get { return AccountService.User != null; }
    }
}