@using System.Security.Principal

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span id="user-welcome" class="navbar-text text-dark">Welcome @User.FindFirst("name").Value</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign in</a>
        </li>
    }
</ul>
